.token.string {
  color: #42b983;
}

.token.boolean,
.token.number {
  color: var(--theme-color-primary);
}

.lang-bash .token.function,
.lang-json .token.property {
  color: var(--theme-color-primary);
}

.docsify-copy-code-button {
  font-size: 0.7em !important;
}
