.search {
  .search-keyword,
  a:hover {
    color: var(--theme-color-primary);
  }

  input {
    padding: 0 !important;
  }

  input:focus {
    border: 1px solid white !important;
    box-shadow: none !important;
  }
}
